@CHARSET "UTF-8";

.ui-switch {
    border: 1px solid;
    border-color: cadetblue;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px #cccccc inset;
    display: inline-block;
}

.ui-ctrl-handle {
    border: 1px solid #777777;
    border-radius: 2px;
    box-shadow: 0 0 2px #aaaaaa;
}


.active .ui-ctrl-handle {
    background-color: chartreuse;
}

label {
    margin: 5px;   display: inline-block;   
    vertical-align: top;
    font-family: sans-serif;
    font-weight: 100;
    color: cornflowerblue;
    font-size: 10px;
    line-height: 15px;
}

label.value {
    font-size: 17px;
    width: 65px;
    text-align: right;
}
label.value:after {
    content: attr(data-units);
    font-size: 10px;
}

.graph-title {
    font-family: sans-serif;
    font-weight: 100;
    color: cornflowerblue;
}

.graph {
    display: inline-block;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 25px 0;
    position: relative;
    width: calc( 100% - 20px );
}

.graph canvas {
    position: relative;
    left: -1px;
}


label.min-x {
    position: absolute;
    bottom: 0;
    left: 10px;
}
label.min-y {
    position: absolute;
    bottom: 10px;
    left: 0;
}
label.max-x {
    position: absolute;
    bottom: 0;
    right: 0;
}
label.max-y {
    position: absolute;
    top: 0;
    left: 0;
}